@model WEB2021Apr_P04_T4.Models.CompetitionScore

@{
    ViewData["Title"] = "Create";
}

<h4 class="PageTitle">Add Competition Submission to grade</h4>
<hr />
<form asp-action="Create">
    <fieldset class="FormContent">
        <div class="form-group row">
            <label asp-for="CompetitionID"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                 <!-- Drop-down list displaying CompetitionName,
                with CompetitionID as returned value -->
                <select asp-for="CompetitionID"
                        asp-items="@(new SelectList(
 @ViewData["CompetitionList"] as List <Competition>,
 "CompetitionID", "CompetitionName"))"
                        class="form-control"></select>
                <span asp-validation-for="CompetitionID"
                      class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="CompetitorID"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <!-- Drop-down list displaying CompetitionName,
    with CompetitionID as returned value -->
                <select asp-for="CompetitorID"
                        asp-items="@(new SelectList(
 @ViewData["submissionList"] as List <CompetitionSubmission>,
 "CompetitorID"))"
                        class="form-control"></select>
                <span asp-validation-for="CompetitorID"
                      class="text-danger"></span>
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="CriteriaID"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <!-- Drop-down list displaying CompetitionName,
    with CompetitionID as returned value -->
                <select asp-for="CriteriaID"
                        asp-items="@(new SelectList(
 @ViewData["CriteriaList"] as List <Criteria>,
 "CriteriaID", "CriteriaName"))"
                        class="form-control"></select>
                <span asp-validation-for="CriteriaID"
                      class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="Score"
                   class="col-sm-3 col-form-label"></label>
            <div class="col-sm-9 col-md-5">
                <input asp-for="Score" class="form-control" />
                <span asp-validation-for="Score"
                      class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-9 offset-sm-3">
                <input type="submit" value="Create"
                       class="btn btn-primary" />
            </div>
        </div>
        <div>
            <a asp-action="Index">Back to Scoresheet</a>
        </div>
    </fieldset>
</form>